@using BlazorFrontend.Services
@inherits LayoutComponentBase
@inject AuthState AuthState

<header class="app-header">
    <div class="header-content">
        <h1 class="app-title" style="@(AuthState.IsLoggedIn ? "" : "margin: auto;")">PostItApp</h1>
        @if (AuthState.IsLoggedIn)
        {
            <nav class="top-menu">
                <a href="/" class="menu-link">Home</a>
                <a href="/posts" class="menu-link">Posts</a>
                <a href="/friends" class="menu-link">Friends</a>
                <a href="/logout" class="menu-link" @onclick="LogOut">Logout</a>
            </nav>
        }
    </div>
</header>

<div class="main-layout">
    <div class="container">
        @Body
    </div>
</div>

@code {
    private void LogOut()
    {
        AuthState.LogOut();
        StateHasChanged();
    }
}
